@font-face {
  font-family: 'ACTlove';
  src: url('/path/to/ACTlove.woff2') format('woff2'),
       url('/path/to/ACTlove.woff') format('woff'),
       url('/path/to/ACTlove.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e9d5ff; /* Light purple background */
  padding: 0.5rem 1rem;
}

.leftNav, .rightNav {
  display: flex;
  align-items: center;
  margin-left: 10px; 
  margin-right: 10px; 
  padding: 10px;
}

.navLink {
  color: #7e22ce; /* Purple text for simpler fonts */
  text-decoration: none;
  margin-right: 1rem; /* Ensures Shop and Cart are not on top of each other */
  font-family: Arial, sans-serif; /* Simpler font for nav links */
}

.cartIcon a {
  color: #7e22ce; 
  font-size: 1.25rem;
}

.cartIcon a:hover, .navLink:hover {
  color: #6d28d9; 
}

.title {
  font-size: 2.5rem; /* Larger font size for the title */
  color: #7e22ce; /* Purple text */
  font-family: 'ACTlove', sans-serif; /* ACTlove font for the title */
}
